*{box-sizing: border-box;}

html, body {height: auto;}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1;
	margin: 0;
}

h1 {
	color: #ffffff;
	font: 400 60px/1.416 'Libre Baskerville', serif;
}

h2 {
	color: #313131;
	font: 700 50px/1 'Libre Baskerville', serif;
	line-height: 1;
}

p {
	color: #616161;
	font: 400 15px/1.8 'Poppins', sans-serif;
	margin: 0;
}

ul {
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

.content-wrapper {
	max-width: 1140px;
	margin: auto;
}

.left {float: left;}
.right {float: right;}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
	font-size: 0;
}

.button {
	background-color: #fc5f45;
	border: 2px solid transparent;
	border-radius: 25px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 50px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 180px;
}

.button.red {
	background-color: #fc5f45;
}

.button.green {
	background-color: #38c695;
}

.button.blue {
	background-color: #b27cf5;
}

.button.red:hover,
.button.green:hover,
.button.blue:hover {
	background-color: transparent;
}

.button.red:hover {
	color: #fc5f45;
	border-color: #fc5f45;
}

.button.green:hover {
	color: #38c695;
	border-color: #38c695;
}

.button.blue:hover {
	color: #b27cf5;
	border-color: #b27cf5;
}


.dark-background {
	background: #3f4049;
}

.grey-background {
	background: #f7f7f7;
}

.head-menu ul {font-size: o;}
.head-menu li {
	display: inline-block;
	margin-right: 20px;
}

.head-menu li:last-child {
	margin-right: 0;
}

.head-menu a {
	color: #272727;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
}

header {
	padding: 24px 0;
}

.welcome-block {
	padding: 165px 0;
	text-align: center;
}

.welcome-block .button {
	margin-top: 40px;
}

.welcome-block h1 {
	max-width: 830px;
	margin: 0 auto;
}

.features-set {
	font-size: 0;
	margin-top: 80px;
}

.features-set li {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding-top: 75px;
	position: relative;
	text-transform: uppercase;
	width: 33.33333%;
}

.features-set li:nth-child(1){color: #38c695}
.features-set li:nth-child(2){color: #b27cf5}
.features-set li:nth-child(3){color: #feb960}

.features-set .icon {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -20px;
	height: 40px;
	width: 40px;
}

.icon.dollar { background: url(img/icon-dollar.png) no-repeat; }
.icon.clock { background: url(img/icon-clock.png) no-repeat; }
.icon.check { background: url(img/icon-check.png) no-repeat; }

.about-block .content-wrapper {
	position: relative;
}

.about-block {padding: 150px 0;}

.about-article {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	background: #fff;
	padding: 90px 80px 70px;
	width: 650px;
}

.about-article:before {
	content: "01";
	color: rgba(224,224,224,0.3);
	font-size: 273px;
	font-weight: 800;
	line-height: 1;
	position: absolute;
	left: -5px;
	top: -12px;
}

.about-article:after {
	content: '';
	background: url(img/lines.jpg) no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 3px;
}

.about-article .inner-wrapper {position: relative;}

.about-article h2 {
	margin-bottom: 40px;
}

.about-article p {
	margin-bottom: 30px;
}

.numbered-block {
	position: relative;
	padding: 140px 0 150px;
}

.numbered-block:before {
	content: attr(data-number);
	color: rgba(224, 224, 224, 0.3);
	line-height: 1;
	font-size: 273px;
	font-weight: 800;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.title-block { margin-bottom: 75px;}
.title-block p,
.title-block h2 {
	text-align: center;
}

.numbered-block .content-wrapper { position: relative; }
	
}

.focus-list {
	font-size: 0;
	text-align: center;
}

.focus-list li {
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
	border-bottom: 3px solid transparent;
	display: inline-block;
	margin-right: 30px;
	position: relative;
	text-align: center;
	height: 350px;
	width: 262px;
	vertical-align: top;
}

.focus-list li:last-child {margin-right: 0;}
.focus-list li:nth-child(1) {border-color: #fc5f45;}
.focus-list li:nth-child(2) {border-color: #38c695;}
.focus-list li:nth-child(3) {border-color: #b27cf5;}
.focus-list li:nth-child(4) {border-color: #feb960;}

.focus-article {
	position: relative;
	padding: 65px 35px 0;
}


.focus-article .icon {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background: url(img/icons-sprite.png) no-repeat;
	height: 49px;
	width: 55px;
}

.focus-article .icon.web-des {background-position: 0 0;}
.focus-article .icon.ux-des {background-position: -60px 0;}
.focus-article .icon.photo {background-position: -120px 0;}
.focus-article .icon.app-dev {background-position: -180px 0;}

.focus-article .article-title {
	position: relative;
	padding-top: 75px;
	margin-bottom: 25px;
}

.focus-article h3 {
	color: #313131;
	font: 500 20px/1 'Poppins', sans-serif;
}

.player-block {
	padding: 145px 0;
	text-align: center;
}

.player-block h3 {
	color: #fff;
	font: 400 30px 'Poppins', sans-serif;
	margin-bottom: 30px;
}

.player-block p {
	color: #fff;
	font-size: 15px;
}

.player-block .btn-holder {
	margin-bottom: 40px;
}

.portfolio .floated-list li {
	float: left;
	padding: 0 10px 20px 10px;
}






